.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ececec;
}

.header__container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 93px;
}

.menu {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav__menu-list {
	display: flex;
}

.nav__menu-item:not(:last-child) {
	margin-right: 50px;
}

.header__contact-list {
	display: flex;
	margin-left: auto;
}

.header__contact-item:not(:last-child) {
	margin-right: 50px;
}

.nav__menu-link {
	color: var(--header-color);
	position: relative;
	transition: color var(--time) var(--animation-time);
	padding-bottom: 32px;
	padding-top: 32px;

	&.current::after {
		content: '';
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--accent-text-color);
	}

	&:hover,
	&:focus {
		color: var(--accent-text-color);
	}
}

.current {
	color: var(--accent-text-color);
}

.header__mail,
.header__tel {
	display: flex;
	align-items: center;
	color: var(--icon-color);
	transition: color var(--time) var(--animation-time);
	&:hover,
	&:focus {
		color: var(--accent-text-color);
	}
}

.header__contact-item {
	display: flex;
}

.icon {
	margin-right: 10px;
	fill: var;
}

.header__mail-icon {
	height: 12px;
	width: 16px;
	fill: currentColor;
}
.header__tel-icon {
	height: 16px;
	width: 10px;
	fill: currentColor;
}
